<h1>Here is the detail of your post</h1>
<div class="post-detail">
  <div class="post-head">
    <h4>Post <%=@post.id %> by <%= @user.name %></h4>
    <p class="post-head-counter">
      Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>
    </p>
  </div>
  <div class="post-body">
    <p><%= @post.text %></p>
  </div>
</div>
<div class="post-likes">
<%= form_with model: @like, url: create_like_path, method: :post, local: true, scope: :like do |form| %>
  <%= form.submit 'Like this post' %>
  <%= form.hidden_field :post_id, value: @post.id %>
  <%= button_to 'Delete Post', user_post_path(@post.author_id, @post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'btn btn-danger' %>
<% end %>
</div>
<div class="post-comments">
  <h4>Comments:</h4>
  <% @post.comments.each do |comment| %>
    <%= render partial: 'shared/comment', locals: { comment: comment } %>
    <%= button_to 'Delete Comment', user_post_comment_path(@post.author_id, @post, comment), method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' }, class: 'btn btn-danger' %>
  <% end %>
</div>
<div class="post-comment-form">
  <h4>Add a comment:</h4>
  <%= form_with model: @comment, url: create_comment_path, method: :post, local: true, scope: :comment do |form| %>
    <div class="comment-form">
    <%= form.label :text %>
    <%= form.text_area :text %>
    <%= form.hidden_field :post_id, value: @post.id %>
    </div>
    <div class="comment-form-btn">
    <%= form.submit %>
    </div>
  <% end %>
</div>
